
API-Distribuidos/Assets/Editor Default Resources/Firebase/fb_invites_dark.png.meta
API-Distribuidos/Assets/Editor Default Resources/Firebase/fb_storage.png
API-Distribuidos/Assets/Editor Default Resources/Firebase/fb_storage.png.meta
API-Distribuidos/Assets/Editor Default Resources/Firebase/fb_storage_dark.png
API-Distribuidos/Assets/Editor Default Resources/Firebase/fb_storage_dark.png.meta
API-Distribuidos/Assets/Editor Default Resources/Firebase/firebase_lockup.png
API-Distribuidos/Assets/Editor Default Resources/Firebase/firebase_lockup.png.meta
API-Distribuidos/Assets/Editor Default Resources/Firebase/firebase_lockup_dark.png
API-Distribuidos/Assets/Editor Default Resources/Firebase/firebase_lockup_dark.png.meta
API-Distribuidos/Assets/ExternalDependencyManager.meta
API-Distribuidos/Assets/ExternalDependencyManager/Editor.meta
API-Distribuidos/Assets/ExternalDependencyManager/Editor/1.2.179.meta
API-Distribuidos/Assets/ExternalDependencyManager/Editor/1.2.179/Google.IOSResolver.dll
API-Distribuidos/Assets/ExternalDependencyManager/Editor/1.2.179/Google.IOSResolver.dll.meta
API-Distribuidos/Assets/ExternalDependencyManager/Editor/1.2.179/Google.JarResolver.dll
API-Distribuidos/Assets/ExternalDependencyManager/Editor/1.2.179/Google.JarResolver.dll.meta
API-Distribuidos/Assets/ExternalDependencyManager/Editor/1.2.179/Google.PackageManagerResolver.dll
API-Distribuidos/Assets/ExternalDependencyManager/Editor/1.2.179/Google.PackageManagerResolver.dll.meta
API-Distribuidos/Assets/ExternalDependencyManager/Editor/1.2.179/Google.VersionHandlerImpl.dll
API-Distribuidos/Assets/ExternalDependencyManager/Editor/1.2.179/Google.VersionHandlerImpl.dll.meta
API-Distribuidos/Assets/ExternalDependencyManager/Editor/CHANGELOG.md
API-Distribuidos/Assets/ExternalDependencyManager/Editor/CHANGELOG.md.meta
API-Distribuidos/Assets/ExternalDependencyManager/Editor/external-dependency-manager_version-1.2.179_manifest.txt
API-Distribuidos/Assets/ExternalDependencyManager/Editor/external-dependency-manager_version-1.2.179_manifest.txt.meta
API-Distribuidos/Assets/ExternalDependencyManager/Editor/Google.VersionHandler.dll
API-Distribuidos/Assets/ExternalDependencyManager/Editor/Google.VersionHandler.dll.meta
API-Distribuidos/Assets/ExternalDependencyManager/Editor/LICENSE
API-Distribuidos/Assets/ExternalDependencyManager/Editor/LICENSE.meta
API-Distribuidos/Assets/ExternalDependencyManager/Editor/README.md
API-Distribuidos/Assets/ExternalDependencyManager/Editor/README.md.meta
API-Distribuidos/Assets/Firebase.meta
API-Distribuidos/Assets/Firebase/Editor.meta
API-Distribuidos/Assets/Firebase/Editor/AppDependencies.xml
API-Distribuidos/Assets/Firebase/Editor/AppDependencies.xml.meta
API-Distribuidos/Assets/Firebase/Editor/AuthDependencies.xml
API-Distribuidos/Assets/Firebase/Editor/AuthDependencies.xml.meta
API-Distribuidos/Assets/Firebase/Editor/DatabaseDependencies.xml
API-Distribuidos/Assets/Firebase/Editor/DatabaseDependencies.xml.meta
API-Distribuidos/Assets/Firebase/Editor/Firebase.Editor.dll
API-Distribuidos/Assets/Firebase/Editor/Firebase.Editor.dll.meta
API-Distribuidos/Assets/Firebase/Editor/FirebaseAuth_version-11.9.0_manifest.txt
API-Distribuidos/Assets/Firebase/Editor/FirebaseAuth_version-11.9.0_manifest.txt.meta
API-Distribuidos/Assets/Firebase/Editor/FirebaseDatabase_version-11.9.0_manifest.txt
API-Distribuidos/Assets/Firebase/Editor/FirebaseDatabase_version-11.9.0_manifest.txt.meta
API-Distribuidos/Assets/Firebase/Editor/generate_xml_from_google_services_json.exe
API-Distribuidos/Assets/Firebase/Editor/generate_xml_from_google_services_json.exe.meta
API-Distribuidos/Assets/Firebase/Editor/generate_xml_from_google_services_json.py
API-Distribuidos/Assets/Firebase/Editor/generate_xml_from_google_services_json.py.meta
API-Distribuidos/Assets/Firebase/Editor/network_request.exe
API-Distribuidos/Assets/Firebase/Editor/network_request.exe.meta
API-Distribuidos/Assets/Firebase/Editor/network_request.py
API-Distribuidos/Assets/Firebase/Editor/network_request.py.meta
API-Distribuidos/Assets/Firebase/m2repository.meta
API-Distribuidos/Assets/Firebase/m2repository/com.meta
API-Distribuidos/Assets/Firebase/m2repository/com/google.meta
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase.meta
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity.meta
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/11.9.0.meta
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/11.9.0/firebase-app-unity-11.9.0.pom
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/11.9.0/firebase-app-unity-11.9.0.pom.meta
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/11.9.0/firebase-app-unity-11.9.0.srcaar
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/11.9.0/firebase-app-unity-11.9.0.srcaar.meta
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/maven-metadata.xml
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/maven-metadata.xml.meta
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity.meta
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity/11.9.0.meta
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity/11.9.0/firebase-auth-unity-11.9.0.pom
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity/11.9.0/firebase-auth-unity-11.9.0.pom.meta
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity/11.9.0/firebase-auth-unity-11.9.0.srcaar
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity/11.9.0/firebase-auth-unity-11.9.0.srcaar.meta
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity/maven-metadata.xml
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity/maven-metadata.xml.meta
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-database-unity.meta
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-database-unity/11.9.0.meta
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-database-unity/11.9.0/firebase-database-unity-11.9.0.pom
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-database-unity/11.9.0/firebase-database-unity-11.9.0.pom.meta
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-database-unity/11.9.0/firebase-database-unity-11.9.0.srcaar
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-database-unity/11.9.0/firebase-database-unity-11.9.0.srcaar.meta
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-database-unity/maven-metadata.xml
API-Distribuidos/Assets/Firebase/m2repository/com/google/firebase/firebase-database-unity/maven-metadata.xml.meta
API-Distribuidos/Assets/Firebase/Plugins.meta
API-Distribuidos/Assets/Firebase/Plugins/Firebase.App.dll
API-Distribuidos/Assets/Firebase/Plugins/Firebase.App.dll.meta
API-Distribuidos/Assets/Firebase/Plugins/Firebase.Auth.dll
API-Distribuidos/Assets/Firebase/Plugins/Firebase.Auth.dll.meta
API-Distribuidos/Assets/Firebase/Plugins/Firebase.Database.dll
API-Distribuidos/Assets/Firebase/Plugins/Firebase.Database.dll.meta
API-Distribuidos/Assets/Firebase/Plugins/Firebase.Platform.dll
API-Distribuidos/Assets/Firebase/Plugins/Firebase.Platform.dll.meta
API-Distribuidos/Assets/Firebase/Plugins/Firebase.TaskExtension.dll
API-Distribuidos/Assets/Firebase/Plugins/Firebase.TaskExtension.dll.meta
API-Distribuidos/Assets/Firebase/Plugins/Google.MiniJson.dll
API-Distribuidos/Assets/Firebase/Plugins/Google.MiniJson.dll.meta
API-Distribuidos/Assets/Firebase/Plugins/iOS.meta
API-Distribuidos/Assets/Firebase/Plugins/iOS/Firebase.App.dll
API-Distribuidos/Assets/Firebase/Plugins/iOS/Firebase.App.dll.meta
API-Distribuidos/Assets/Firebase/Plugins/iOS/Firebase.Auth.dll
API-Distribuidos/Assets/Firebase/Plugins/iOS/Firebase.Auth.dll.meta
API-Distribuidos/Assets/Firebase/Plugins/iOS/Firebase.Database.dll
API-Distribuidos/Assets/Firebase/Plugins/iOS/Firebase.Database.dll.meta
API-Distribuidos/Assets/Firebase/Plugins/x86_64.meta
API-Distribuidos/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_9_0.bundle
API-Distribuidos/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_9_0.bundle.meta
API-Distribuidos/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_9_0.dll
API-Distribuidos/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_9_0.dll.meta
API-Distribuidos/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_9_0.so
API-Distribuidos/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_9_0.so.meta
API-Distribuidos/Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.bundle
API-Distribuidos/Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.bundle.meta
API-Distribuidos/Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.dll
API-Distribuidos/Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.dll.meta
API-Distribuidos/Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.so
API-Distribuidos/Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.so.meta
API-Distribuidos/Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.bundle
API-Distribuidos/Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.bundle.meta
API-Distribuidos/Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.dll
API-Distribuidos/Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.dll.meta
API-Distribuidos/Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.so
API-Distribuidos/Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.so.meta
API-Distribuidos/Assets/firebase_unity_sdk.meta
API-Distribuidos/Assets/firebase_unity_sdk/FirebaseAnalytics.unitypackage.meta
API-Distribuidos/Assets/firebase_unity_sdk/FirebaseAppCheck.unitypackage.meta
API-Distribuidos/Assets/firebase_unity_sdk/FirebaseAuth.unitypackage.meta
API-Distribuidos/Assets/firebase_unity_sdk/FirebaseCrashlytics.unitypackage.meta
API-Distribuidos/Assets/firebase_unity_sdk/FirebaseDatabase.unitypackage.meta
API-Distribuidos/Assets/firebase_unity_sdk/FirebaseDynamicLinks.unitypackage.meta
API-Distribuidos/Assets/firebase_unity_sdk/FirebaseFirestore.unitypackage.meta
API-Distribuidos/Assets/firebase_unity_sdk/FirebaseFunctions.unitypackage.meta
API-Distribuidos/Assets/firebase_unity_sdk/FirebaseInstallations.unitypackage.meta
API-Distribuidos/Assets/firebase_unity_sdk/FirebaseMessaging.unitypackage.meta
API-Distribuidos/Assets/firebase_unity_sdk/FirebaseRemoteConfig.unitypackage.meta
API-Distribuidos/Assets/firebase_unity_sdk/FirebaseStorage.unitypackage.meta
API-Distribuidos/Assets/firebase_unity_sdk/LICENSE
API-Distribuidos/Assets/firebase_unity_sdk/LICENSE.meta
API-Distribuidos/Assets/firebase_unity_sdk/readme.md
API-Distribuidos/Assets/firebase_unity_sdk/readme.md.meta
API-Distribuidos/Assets/firebase_unity_sdk_11.9.0.zip
API-Distribuidos/Assets/firebase_unity_sdk_11.9.0.zip.meta
API-Distribuidos/Assets/GeneratedLocalRepo.meta
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase.meta
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository.meta
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com.meta
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com/google.meta
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase.meta
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-app-unity.meta
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-app-unity/11.9.0.meta
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-app-unity/11.9.0/firebase-app-unity-11.9.0.aar
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-app-unity/11.9.0/firebase-app-unity-11.9.0.aar.meta
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-app-unity/11.9.0/firebase-app-unity-11.9.0.pom
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-app-unity/11.9.0/firebase-app-unity-11.9.0.pom.meta
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-auth-unity.meta
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-auth-unity/11.9.0.meta
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-auth-unity/11.9.0/firebase-auth-unity-11.9.0.aar
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-auth-unity/11.9.0/firebase-auth-unity-11.9.0.aar.meta
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-auth-unity/11.9.0/firebase-auth-unity-11.9.0.pom
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-auth-unity/11.9.0/firebase-auth-unity-11.9.0.pom.meta
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-database-unity.meta
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-database-unity/11.9.0.meta
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-database-unity/11.9.0/firebase-database-unity-11.9.0.aar
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-database-unity/11.9.0/firebase-database-unity-11.9.0.aar.meta
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-database-unity/11.9.0/firebase-database-unity-11.9.0.pom
API-Distribuidos/Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-database-unity/11.9.0/firebase-database-unity-11.9.0.pom.meta
API-Distribuidos/Assets/google-services.json
API-Distribuidos/Assets/google-services.json.meta
API-Distribuidos/Assets/MonoPong/Scenes/MonoPong.unity
API-Distribuidos/Assets/MonoPong/Script/RRR.cs
API-Distribuidos/Assets/MonoPong/Script/ScoreScript.cs
API-Distribuidos/Assets/Plugins.meta
API-Distribuidos/Assets/Plugins/Android.meta
API-Distribuidos/Assets/Plugins/Android/FirebaseApp.androidlib.meta
API-Distribuidos/Assets/Plugins/Android/FirebaseApp.androidlib/AndroidManifest.xml
API-Distribuidos/Assets/Plugins/Android/FirebaseApp.androidlib/AndroidManifest.xml.meta
API-Distribuidos/Assets/Plugins/Android/FirebaseApp.androidlib/project.properties
API-Distribuidos/Assets/Plugins/Android/FirebaseApp.androidlib/project.properties.meta
API-Distribuidos/Assets/Plugins/Android/FirebaseApp.androidlib/res.meta
API-Distribuidos/Assets/Plugins/Android/FirebaseApp.androidlib/res/values.meta
API-Distribuidos/Assets/Plugins/Android/FirebaseApp.androidlib/res/values/google-services.xml
API-Distribuidos/Assets/Plugins/Android/FirebaseApp.androidlib/res/values/google-services.xml.meta
API-Distribuidos/Assets/Plugins/Android/gradleTemplate.properties
API-Distribuidos/Assets/Plugins/Android/gradleTemplate.properties.meta
API-Distribuidos/Assets/Plugins/Android/mainTemplate.gradle
API-Distribuidos/Assets/Plugins/Android/mainTemplate.gradle.meta
API-Distribuidos/Assets/Plugins/iOS.meta
API-Distribuidos/Assets/Plugins/iOS/Firebase.meta
API-Distribuidos/Assets/Plugins/iOS/Firebase/libFirebaseCppApp.a
API-Distribuidos/Assets/Plugins/iOS/Firebase/libFirebaseCppApp.a.meta
API-Distribuidos/Assets/Plugins/iOS/Firebase/libFirebaseCppAuth.a
API-Distribuidos/Assets/Plugins/iOS/Firebase/libFirebaseCppAuth.a.meta
API-Distribuidos/Assets/Plugins/iOS/Firebase/libFirebaseCppDatabase.a
API-Distribuidos/Assets/Plugins/iOS/Firebase/libFirebaseCppDatabase.a.meta
API-Distribuidos/Assets/Plugins/tvOS.meta
API-Distribuidos/Assets/Plugins/tvOS/Firebase.meta
API-Distribuidos/Assets/Plugins/tvOS/Firebase/libFirebaseCppApp.a
API-Distribuidos/Assets/Plugins/tvOS/Firebase/libFirebaseCppApp.a.meta
API-Distribuidos/Assets/Plugins/tvOS/Firebase/libFirebaseCppAuth.a
API-Distribuidos/Assets/Plugins/tvOS/Firebase/libFirebaseCppAuth.a.meta
API-Distribuidos/Assets/Plugins/tvOS/Firebase/libFirebaseCppDatabase.a
API-Distribuidos/Assets/Plugins/tvOS/Firebase/libFirebaseCppDatabase.a.meta
API-Distribuidos/Assets/Scenes/Auth1 1.unity
API-Distribuidos/Assets/Scenes/Auth1 1.unity.meta
API-Distribuidos/Assets/Scenes/AuthHandler.cs
API-Distribuidos/Assets/Scenes/LabelScore.cs
API-Distribuidos/Assets/Scenes/LabelScore.cs.meta
API-Distribuidos/Assets/Scenes/LeaderBoard.cs
API-Distribuidos/Assets/Scenes/LeaderBoard.cs.meta
API-Distribuidos/Assets/Scenes/LoadScene.cs
API-Distribuidos/Assets/Scenes/LoadScene.cs.meta
API-Distribuidos/Assets/Scenes/LogInButton.cs
API-Distribuidos/Assets/Scenes/LogInButton.cs.meta
API-Distribuidos/Assets/Scenes/LogoutButton.cs
API-Distribuidos/Assets/Scenes/LogoutButton.cs.meta
API-Distribuidos/Assets/Scenes/Prefavs.meta
API-Distribuidos/Assets/Scenes/Prefavs/ScoreEntry.prefab
API-Distribuidos/Assets/Scenes/Prefavs/ScoreEntry.prefab.meta
API-Distribuidos/Assets/Scenes/ScoreEntry.cs
API-Distribuidos/Assets/Scenes/ScoreEntry.cs.meta
API-Distribuidos/Assets/Scenes/SignIn.unity
API-Distribuidos/Assets/Scenes/SignIn.unity.meta
API-Distribuidos/Assets/Scenes/SignupButton.cs
API-Distribuidos/Assets/Scenes/SignupButton.cs.meta
API-Distribuidos/Assets/Scenes/UsernameViewer.cs
API-Distribuidos/Assets/Scenes/UsernameViewer.cs.meta
API-Distribuidos/Assets/StreamingAssets.meta
API-Distribuidos/Assets/StreamingAssets/google-services-desktop.json
API-Distribuidos/Assets/StreamingAssets/google-services-desktop.json.meta
API-Distribuidos/Library/APIUpdater/project-dependencies.graph
API-Distribuidos/Library/ArtifactDB
API-Distribuidos/Library/Bee/backend_profiler0.traceevents
API-Distribuidos/Library/Bee/backend_profiler1.traceevents
API-Distribuidos/Library/Bee/buildprogram0.traceevents
API-Distribuidos/Library/Bee/fullprofile.json
